<h1>Awarding the <%= @experience.name %> experience</h1>
<p>What did you read?</p><input></input>
<p>What did you do?</p><input></input>
<button>Submitt</button><button onclick="self_reward_cancel(<%= @patron.id %>)">Cancel</button>