<h1>Experiences</h1>
  
  <% @experiences.each_slice(4) do |slice| %>
    <% slice.each do |experience|%>
      <div class="patron_badge">
        <i class="fa fa-trophy fa-5x" style="color: #<%= "%06x" % (rand * 0xffffff) %>"></i>
        <br>
        <%= experience.name %>
        <br>
        <%= experience.description %> - <%= link_to 'edit', edit_experience_path(experience) %>
      </div>
    <% end %>
    <div class="clear_div"></div>     
  <% end %>





