<style>

body{
  background: url("http://s3.amazonaws.com/tcbot/summer_reading_bg1.jpg") center center fixed;
  background-repeat:no-repeat;
  background-size:cover;
}

#content{ background-color: transparent; }



</style>
 

 <% if current_user %>
  <% if !check_for_approved %>
      <hi>Your account is pending approval. Please check back soon </h1>
  <% end %>
<% else %>
<% end %>
    
