<style>

#background_img{
	display: block;
}

#content{ 
  background-color: transparent; 
}

#top_bar{
  opacity: .9;
}

#menu_widget{
  opacity: .9;
}

</style>


<% if current_user && !check_for_approved  %>
	<div id="message_div">
		<h3>Your account is pending approval. Please check back soon </h3>
	</div>
<% end %>   

<% if flash[:alert] %>
	<div id="message_div">
		<%= flash[:alert] %>
	</div>
<% end %>

<% if ((Date.parse('2017-7-18') != Date.today) && (Date.parse('2017-7-18') > Date.today)) || current_user  %>
<div id="register_buttons">
	<h2 class="registration_box_title">Experience Summer Reading Club 2017</h2>
	<p>Register today! Registration ends on July 18</p>
  <ul>
		<li>
			<a href="/main/sign_up/baby">
			<div class="register_button">
				<div class="group_name">Babies</div> 
				<div class="age_requirement_text">0-3 years</div>
			</div>
			</a>
		</li>
		<li>
			<a href="/main/sign_up/youth">
			<div class="register_button">
				<div class="group_name">Youth</div> 
				<div class="age_requirement_text">4-12 years</div>
			</div>
			</a>
		</li>
		<li>
			<a href="/main/sign_up/teen">
			<div class="register_button">
				<div class="group_name">Teen</div> 
				<div class="age_requirement_text">13-19 years</div>
			</div>
			</a>
		</li>
		<li>
			<a href="/main/sign_up/adult">
			<div class="register_button">
				<div class="group_name">Adult</div> 
				<div class="age_requirement_text">+18 years</div>
			</div>
			</a>
		</li>
	</ul>
</div>
<% else %>
<div id="register_buttons">
	<h2 class="registration_box_title">Experience Summer Reading Club 2017</h2>
	<br>
	<p style="padding:10px; font-size: 20px;">Registration for Summer Reading Club 2017 is closed.</p>
</div>
<% end %>
