<div id="user-widget">
  <% if current_user %>
    logged in as <strong><%= current_user.name %></strong>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <br />
    <a href="/main/admin_manage">Staff Users</a><br />
    <a href="/participants">Registered Patrons</a><br />
  <% else %>
    <%= link_to "Staff Login", "/auth/google_oauth2", id: "sign_in" %>
  <% end %>
  	<a href="/main/sign_up">Patron Sign-up</a>
</div>
