<h2>
  Browsing
  <% if @club_filter == 'all' %>
    all patrons
  <% else %>
    patrons in the <%= @club_filter.capitalize %> club
  <% end %>
  <% if @location_filter == 'all' %>
    at all locations, 
  <% else %>
    at <%= @location_filter.capitalize %>, 
  <% end %>
    <%= @participant_count %> registered patrons.
</h2>
<div id ="filter_bar">
<ul>
  <li>
    <strong>Group:</strong>
  </li>
  <li>
    <input type="radio" name="club" value="all" <% if @club_filter == 'all' %> checked <% end %> >All
  </li> 
  <li>
    <input type="radio" name="club" value="baby" <% if @club_filter == 'baby' %> checked <% end %> >Baby
  </li>
  <li>
    <input type="radio" name="club" value="youth" <% if @club_filter == 'youth' %> checked <% end %> >Youth
  </li>
  <li>
    <input type="radio" name="club" value="teen" <% if @club_filter == 'teen' %> checked <% end %> >Teen
  </li>
  <li>
    <input type="radio" name="club" value="adult" <% if @club_filter == 'adult' %> checked <% end %> >Adult
  </li> 
</ul>


<ul>
  <li>
    <strong>Location:</strong>
  </li>
  <li>
    <input type="radio" name="library" value="all" <% if @location_filter == 'all' %> checked <% end %> >All
  </li> 
  <li>
    <input type="radio" name="library" value="woodmere" <% if @location_filter == 'woodmere' %> checked <% end %> >Woodmere
  </li>
  <li>
    <input type="radio" name="library" value="kingsley" <% if @location_filter == 'kingsley' %> checked <% end %> >Kingsley
  </li> 
  <li>
    <input type="radio" name="library" value="interlochen" <% if @location_filter == 'interlochen' %> checked <% end %> > Interlochen
  </li> 
  <li>
    <input type="radio" name="library" value="peninsula" <% if @location_filter == 'peninsula' %> checked <% end %> >Peninsula
  </li> 
  <li>
    <input type="radio" name="library" value="fife lake" <% if @location_filter == 'fife lake' %> checked <% end %> >Fife Lake
  </li> 
  <li>
    <input type="radio" name="library" value="east bay" <% if @location_filter == 'east bay' %> checked <% end %> >East Bay
  </li> 
</ul>
<input type="checkbox" id="winner" <% if @winner == 'yes' %> checked <% end %> >Limit to Award Eligible Patrons
<br>
<button onclick="filter_patrons()"> Apply Filter</button>
<button onclick="download_as_csv()"> Export as CSV </button>
</div>
<%= render 'patron_list' %>