
<form>
	First Name: <input type="text" id="first_name"> Last Name: <input type="text" id="last_name"><br>
	Age (in years): <input type="number" id="age"><br>
	Grade (in fall): <input type="text" id="grade"><br>
	School: <input type="text" id="school"><br>
	Home Zip Code: <input type="number" id="zip_code"><br>
	Home Library: <input type="text" id="home_library"><br>
	<div>
		Select a Club: <br>
			<input type="radio" name="club" value="adult">Adult (18+) <br>
			<input type="radio" name="club" value="teen">Teen (13-19) <br>
			<input type="radio" name="club" value="youth">Youth (4-12)<br>
			<input type="radio" name="club" value="baby">Baby (0-3)<br>
	</div>	 
	Email (optional): <input type="email" id="email"><br>
	Library Card # (optional): <input type="number" id="library_card">
</form>
<button onclick="register()">Register</button>
<div id="messages">
</div>
