<%= @group_name %>


<form>
	First Name: <input type="text" id="first_name"> Last Name: <input type="text" id="last_name"><br>
	Age (in years): <input type="number" id="age"><br>
	<% if @group_variable == 'youth' || @group_variable == 'teen' %>
		Grade (in Fall): <input type="text" id="grade"><br>
		School: <input type="text" id="school"><br>
	<% end %>	
	Home Zip Code: <input type="number" id="zip_code"><br>
	Home Library: <input type="text" id="home_library"><br> 
	Email (optional): <input type="email" id="email"><br>
	Library Card # (optional): <input type="number" id="library_card">
</form>
<button onclick="register('<%= @group_variable %>')">Register</button>
<div id="messages">
</div>
