/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

 html body {
 	margin: 0;
 	padding: 0;
 	font-family: 'Lato', 'sans-serif';
 	font-size: 16px;
 	-webkit-text-size-adjust:none; 
 }

html body a{
 	text-decoration: none;

 }

body {
	background-color: #fff;
	min-width: 760px;
}

a:hover {
 cursor:pointer;
}
  
 

 #top_bar{
 	background-color: #11b872;
 	color: #fff;
 	width: 100%;
 	min-width: 760px;
 	height: 35px;
 	top: 0;
 	margin: 0;
 	padding: 5px;
 	font-size: 16px;
 	position: fixed;
 	z-index: 998;
 }

 #top_bar a {
 	color: #fff;
 }

#menu_button_div{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
 	font-weight: bold;	
}

#menu_widget{
	display: none;
	position: fixed;
	top: 45px;
	left: 10px;
	margin-right: 10px;
	z-index: 998;
	background-color: #11b872;
	padding: 5px;
}

#menu_widget a {
	color: #fff;
}




 #search_div{
 	margin-left: 20px;
 	margin-top: 5px;
 	float: left;
 	font-weight: bold;	
 }

 #search_div a{
 	color: #000;
 	background-color: #fff;
 	font-size: 14px;
 	padding: 2px;
 	margin-right: 10px;
 	font-weight: normal;
 }

  #search_div a:hover{
 	color: #000;
 	font-weight: bold;
 	padding: 3px;
 }

 #login_div{
 	margin-top: 5px;
 	float: right;
 	margin-right: 20px;
 }

#home_div{
	margin-top: 5px;
	float: left;
	margin-left: 10px;
	font-weight: bold; 
}

#home_div a {
	color: #fff

} 

#message_div{
	background-color: #fff;
	opacity: .9;
	border: 2px solid #11b872;
	text-align:center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;

}

#message_div h3{
	display: inline;
	}

#content{
	margin-top: 50px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 1200px;
	background-color: #fff;
	display: block;
}

#content h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}
#content h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#register_buttons{
	background-color:rgba(255, 255, 255, 0.8);
	width: 600px;
	height: 170px;
	position:absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#register_buttons ul{
	padding: 0;
	list-style: none;
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

#register_buttons li{
	margin: 10px;
	display: inline-block;
}



.register_button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 30px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.register_button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.age_requirement_text{
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.group_name{
	margin: 0;
	padding: 0;
}

.registration_box_title{
	margin-top: 15px; 
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 15px;
}



 .clear_div{
 	clear: both;
 	height: 0px;
 	margin: 0px;
 	padding: 0px;
 }
.patron_card{
	margin-bottom: 5px;
	margin-top: 5px;
	border-bottom: 1px dashed #11b872;
}

.patron_card p {
	margin-bottom: 5px;
	margin-top: 5px;
	
}
.patron_badge {
	float: left;
	width: 20%;
	margin: 10px; 
}

#sign_up{
	background-color:rgba(255, 255, 255, 0.8);
	width: 80%;
	max-width: 600px;
	height: 80%;
	min-height: 400px;
	padding: 10px;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50;


}


#sign_up_form{
	margin-top: 10px;
	font-size: 18px;
	line-height: 100%;
}


.sign_up_element{
	font-size: 18px;
	border: 1px solid #3aa8f2;

}




.sign_up_form_left{
	float:left;
	width: 45%;
	padding:5px;

}
.sign_up_form_right{
	float:left;
	width: 45%;
	padding:5px;
}

.full_width{
	width: 100%;
	font-size: 20px;
}

.half_width{
	width: 50%;
	font-size: 20px;
}

.award{
	height: 150px;
}

.center{
	margin-top: 10px;
	text-align: center;
}

.highlight{
	border: 2px solid #ff201a;
}


