// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_card{
	margin-top: 5px;
	margin-bottom: 5px;
}

.admin_left{
	float: left;
}

.admin_left img{
	width: 50px;
	margin: 5px;
}

.admin_right{
	float: left;
}

.clear_div{
	clear: both;
}