<!DOCTYPE html>
<html>
<head>
  <title>Summer Reading</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top_bar">
<% if current_user %>
	<% if check_for_approved %>
		Search by Name: <input type="text" id="search_by_name">
		<a onclick="search_by_name()">GO</a>
		Search by Card #: <input type="text" id="search_by_card">
		<a onclick="search_by_card()">GO</a>
	<% end %>
<% end %>		
</div>

<div id="content">
	<%= yield %>
</div>

</body>
</html>
